body {
    padding: 1em;
}

.messages {
    float: right;
    padding: .1rem .3rem;
    background: #ffc;
    max-width: 50%;
    font-size: 0.8rem;
    line-height: 1.3;
}

.latest {
    list-style: none;
    padding: 0;
}
.latest .value {
    font-weight: bold;
}
.latest .created_date, .latest .timestamp {
    color: #999;
}
.latest .delay {
    font-size: 90%;
}
