avro
channels
confluent-kafka[avro]
Django>=3,<4
django-compressor
django-crispy-forms
django-libsass
django-prometheus
django-vouch-proxy-auth
gevent
gunicorn
psycopg2-binary
requests
uvicorn[standard]