{% extends 'es_common/base.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'kafka_example/kafka-example.css' %}">
{% endblock css %}

{% block content %}

  {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
  {% endif %}

  <img src="{% static 'kafka_example/django-roundtrip.png' %}" width="300px" align="right" />
  
  <h1>Kafka Roundtrip Demo</h1>

  <p>
    This is a simple app demonstrating the basic components of our architecture.

    <ol>
      <li>When you send a message it gets pushed onto a Kafka topic (data collection)</li>
      <li>A listener on the topic saves it to a database (data archiving)</li>
      <li>The web page outputs the database contents (data delivery)</li>
    </ol>
  </p>

  <form class="message-form" method="post">{% csrf_token %}
    <div class="input-group">
      {{ form.value }}
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>

  {% if recent %}
    <hr/>
    <h3>Latest Archived</h3>
    {% for item in recent %}
    <div class="card latest popup-help">
      <div class="card-header">
        <span class="value">{{ item.value }}</span>
        <span class="timestamp">{{ item.timestamp }}</span>
      </div>
      <div class="popup card">
        <ul class="list-compact">
          <li><b>Data Id</b> {{ item.data_id }}</li>
          <li><b>Started</b> {{ item.timestamp }}</li>
          <li><b>Received</b> {{ item.created_date }}</li>
          <li><b>Delay</b> {{ item.delay_ms }}ms</li>
          <li><b>Value</b> {{ item.value }}</li>
          <li><b>Provenance</b>
            <ul class="provenance">
              {% for prov in item.data_provenance %}
                <li>{{ prov }}</li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  {% endif %}

{% endblock content %}