{% extends 'es_common/base.html' %}
{% load es_common_tags %}

{% block css %}
{{ block.super }}
<style>
pre {
  white-space: break-word;
}
</style>
{% endblock css %}

{% block content %}

  <h2>User</h2>

    {{ user }} {% if user.pk %}({{ user.pk }}){% endif %}

  <h2>User JWT</h2>

    {% if user_jwt %}
      <pre>{{ user_jwt|as_json }}</pre>
    {% endif %}

  <h2>Cookie JWT</h2>

    {% if cookie_jwt %}
      {% if cookie_jwt.is_valid %}Ok{% else %}Invalid{% endif %}
      <pre>{{ cookie_jwt.raw_value }}</pre>
      <pre>{{ cookie_jwt.value|as_json }}</pre>
    {% endif %}

{% endblock content %}