{% extends 'es_common/base.html' %}
{% load es_common_tags %}

{% block css %}
{{ block.super }}
<style>
pre {
  white-space: break-word;
}
</style>
{% endblock css %}

{% block content %}

  <h3>User</h3>

    {% if user.pk %}
      {{ user }} (#{{ user.pk }})
      {% if user_claims %}
        <pre>{{ user_claims|as_json }}</pre>
      {% else %}
        (no claims)
      {% endif %}
    {% endif %}

    <h3>User JWT</h3>

    {% if user_jwt %}
      <pre>{{ user_jwt|as_json }}</pre>
    {% endif %}

  <h3>Cookie JWT</h3>

    {% if cookie_jwt.raw_value %}
      {% if cookie_jwt.is_valid %}Ok{% else %}Invalid{% endif %}
      <pre>{{ cookie_jwt.raw_value }}</pre>
      <pre>{{ cookie_jwt.value|as_json }}</pre>
    {% endif %}

{% endblock content %}